<!--<h1> Movie's Details: </h1>-->
  <!--<div><span>Id: <span>{{ movie.id }}</span></span></div>-->
  <!--<div><span>Name: <span>{{ movie.name }}</span></span></div>-->
  <!--<div><span>Release year: <span>{{ movie.releaseYear }}</span></span></div>-->
<!--<h2>Edit your information</h2>-->
<!--<div>-->
  <!--<label style="margin: 10px; text-align: left">-->
    <!--Movie name (data-binding one way):-->
      <!--<input [ngModel]="movie.name" placeholder="Enter movie name">-->
  <!--</label>-->
<!--</div>-->
  <!--<div>-->
  <!--<label style="margin: 10px; text-align: left">-->
    <!--Release year (data-binding two way):-->
    <!--<input [(ngModel)]="movie.releaseYear" placeholder="Enter release year">-->
  <!--</label>-->
<!--</div>-->

<h2>My favorite movies</h2>

<div class="parent">
  <ol class="movies">
    <li class="movieListItem"
        *ngFor="let eachMovie of movies"
        [class.selected]="eachMovie === selectedMovie"
        (click)="onSelectedMovie(eachMovie)">
      {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
    </li>
  </ol>
  <div *ngIf="selectedMovie" class="details">
      <h3>You selected: {{ selectedMovie.name }}. Details</h3>
      <table style="width: 100%">
        <tr>
            <td>name: </td>
            <td><input [(ngModel)]="selectedMovie.name" placeholder="name"></td>
        </tr>
        <tr>
            <td>release year: </td>
            <td><input [(ngModel)]="selectedMovie.releaseYear" placeholder="release year"></td>
        </tr>
      </table>
  </div>
</div>


